Source: kwordquiz
Section: kde
Priority: optional
Maintainer: Debian Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Eshat Cakar <info@eshat.de>,
Build-Depends: kde-sc-dev-latest (>= 4:4.10),
 cmake, 
 debhelper (>= 9),
 pkg-kde-tools (>= 0.12),
 kdelibs5-dev (>= 4:4.10),
 libkdeedu-dev,
 libx11-dev
Standards-Version: 3.9.2
Homepage: https://projects.kde.org/projects/kde/kdeedu/kwordquiz
Vcs-Browser: http://anonscm.debian.org/git/pkg-kde/kde-sc/kwordquiz.git
Vcs-Git: git://anonscm.debian.org/pkg-kde/kde-sc/kwordquiz.git

Package: kwordquiz
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, kdeedu-kvtml-data
Suggests: khelpcenter4
Description: flashcard learning program
 KWordQuiz is a general purpose flashcard program, typically used for
 vocabulary training.
 .
 KWordQuiz can open vocabulary data in various formats, including the kvtml
 format used by KDE programs such as Parley, the WQL format used by
 WordQuiz for Windows, the xml.gz format used by Pauker, and CSV text.
 .
 This package is part of the KDE education module.
